.banner {
    width: 100%;
    height: 500px; /* Set the height of the banner */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
  }
  
  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  