/* src/components/Footer.css */

.footer {
  width: 100%;
  position: relative;
  background: url('../assets/images/footer-banner.jpeg') no-repeat center center;
  background-size: cover;
  height: 200px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Ensure padding is included in the height and width */
}


.footer-overlay {
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  text-align: center;
  color: white;
  padding: 0 20px; /* Add some padding for smaller screens */
}

.footer-contact {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color:rgba(255, 255, 255, 0.674);
}

.footer-heading span {
  color: #3DB166; /* Primary color */
}

.footer-button {
  background-color: #3DB166; /* Primary color */
  color: white; /* White text */
  border: 1px solid #3DB166; /* Border color */
  border-radius: 6px; /* Border radius */
  padding: 10px 20px; /* Button Padding */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.footer-button:hover {
  background-color: #192F59; /* Secondary color */
  color: #3DB166; /* Primary color text */
  border-color: #3DB166; /* Secondary color */
}

/* Responsive adjustments */
@media (max-width: 100%) {
  .footer {
    height: auto; /* Allow height to adjust based on content */
    padding: 20px 0;
  }

  .footer-heading {
    font-size: 20px;
  }

  .footer-button {
    padding: 8px 16px; /* Adjust button padding */
  }
}

@media (max-width: 100%) {
  .footer-heading {
    font-size: 18px;
  }

  .footer-button {
    padding: 6px 12px; /* Adjust button padding */
  }
}
