.service-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .home-service-icon {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
  }
  
  .service-content h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .service-content p {
    font-size: 1em;
    color: #555;
  }
  
  .service-content a {
    display: inline-block;
    margin-top: 10px;
    color: #3DB166;
    text-decoration: none;
    font-weight: bold;
  }
  
  .service-content a:hover {
    text-decoration: underline;
  }
  