/* ServiceCard.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2; /* Page BG Color */
    color: #24272C; /* Text Color */
}

.service-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Padding for the box */
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-content {
    padding: 20px;
}

.service-content h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
    position: relative;
}

.service-content hr {
    width: 40px;
    border: 2px solid #3DB166; /* Primary color */
    margin: 10px 0;
}

.service-content p {
    color: #666;
    margin: 10px 0;
}

.service-content a {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    color: #3DB166; /* Primary color */
    text-decoration: none;
}

.service-content a:hover {
    color: #0056b3; /* Adjusted Hover color */
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
