/* Sidebar.css */

.sidebar {
    background-color: #F2F2F2;
    color: #24272C;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    font-size: 16px; /* Body text */
    line-height: 1.6;
}

.sidebar h2, .sidebar h3, .sidebar h4 {
    color: #192F59;
}

.sidebar h2 {
    font-size: 30px;
}

.sidebar h3 {
    font-size: 20px;
}

.sidebar h4 {
    font-size: 18px;
}

.contact-section, .brochure-section, .benefits-section {
    background: linear-gradient(145deg, #fff, #e6e6e6);
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 5px 15px #0000001a, 0 2px 4px #0000001a;
    /* border: 1px solid #192F59; */
    border-radius: 6px;
}

.contact-button {
    background-color: #3DB166; /* Primary Color */
    color: #fff; /* White Text */
    border: 1px solid #3DB166; /* Primary Color */
    border-radius: 6px;
    padding: 10px 20px; /* 10px height, 20px width */
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.contact-button:hover {
    background-color: #192F59; /* Secondary color */
    color: #3DB166; /* Primary color text */
    border-color: solid #3DB166; /* Secondary color */
}

.download-links {
    margin-top: 10px;
}

.download-link {
    display: block;
    color: #3DB166;
    text-decoration: none;
    margin-bottom: 10px;
}

.download-link:hover {
    text-decoration: underline;
}

.benefit {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.benefit img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
